<div class="container">
    <h1>User Registration</h1>
    <div class="name">
        <label for="firstname">First Name</label>
        <br><input type="text" for="firstname">
    </div>
    <div class="name">
        <label for="lastname">Last Name</label>
        <br>
        <input type="text" for="email">
    </div>
    <div class="name">
        <label for="email">Email</label><br>
        <input type="text" for="email">
    </div>
    <button class="button" type="submit">Submit</button>
</div>